STAGE=dev

DB_PASSWORD=MySecretPassword
DB_NAME=TestShopDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

JWT_SECRET=secret_key_for_jwt

HOST_API=http://localhost:3000/api
PORT=3000


API_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:5173/#/profile

TRANSBANK_ENV=integration
# Solo en producción:
# TRANSBANK_COMMERCE_CODE=
# TRANSBANK_API_KEY=